.bottom_white-circle {
    width: 272px;
    height: 272px;
    border-radius: 50rem;
    background: rgba(255, 255, 255, 0.07000000029802322);
    opacity: 1;
    position: absolute;
    bottom: -4rem;
    left: -4rem;
  }
  .top_white-circle{
    border-radius: 100rem;
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.07000000029802322);
    opacity: 1;
    position: absolute;
    top: -11rem;
    left: 17rem;

  }
  .left_pink-cicle{
    width: 466px;
    height: 452px;
    background: rgba(188, 58, 131, 0.20000000298023224);
    opacity: 1;
    position: absolute;
    top: 9rem;
    left: -3rem;
    border-radius: 50%;
  }
  .top-left_pink-cicle{
    width: 223px;
    height: 213px;
    background: rgba(188, 58, 131, 0.10000000149011612);
    opacity: 1;
    position: absolute;
    top: -6rem;
    left: -5rem;
    border-radius: 50%;
  }
  .right_pink-circle {
    width: 398px;
    height: 439px;
    background: rgba(188, 58, 131, 0.10000000149011612);
    opacity: 1;
    position: absolute;
    top: 9rem;
    right: -6rem;
    border-radius: 50%;
  }

  .v1_63 {
    width: 10rem;
    height: 10rem;
    background: rgba(22, 98, 167, 0.1);
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    bottom: 0px;
    right: -4rem;
  }
  .top-right_blue-circle {
    width: 254px;
    height: 252px;
    background: rgba(22, 98, 167, 0.10000000149011612);
    opacity: 1;
    position: absolute;
    top: -7rem;
    right: -5rem;
    border-radius: 50%;
  }